[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
langchain = "*"
openai = "*"
hdbscan = "*"
pandas = "*"
tiktoken = "*"
dspy-ai = {extras = ["pinecone"], version = "*"}
jupyter = "*"
pypdf = "*"
rapidocr-onnxruntime = "*"
sentence-transformers = "*"
ratelimit = "*"
deeplake = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
