[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
deeplake = "*"
uvicorn = {extras = ["standard"], version = "*"}
fastapi = "*"
tiktoken = "*"

[dev-packages]

[requires]
python_version = "3.10"
